<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'>
    <link href="../static/css/lock.css" rel="stylesheet">
</head>
<body>
<h1>Hover To Unlock</h1>

<div class="dashboard">
    <div class="panel">
        <div class="content">
            <i class="fa fa-lock"></i>
        </div>
    </div>

    <div class="panel">
        <div class="content">
            <i class="fa fa-lock"></i>
        </div>
    </div>

    <div class="panel">
        <div class="content">
            <i class="fa fa-lock"></i>
        </div>
    </div>
</div>

<button id="test">test</button>
<button id="test_still">test_still</button>

<script src="../static/js/jquery-slim.min.js"></script>
<script src="../static/js/app/test.js"></script>
</body>
</html>